<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "slider"
    style = "
    --width: 100px;
    --height: 90px;
    --quantity: 13;
    "
    >
        <div class = "list">
            <div class = "item" style = "--position: 1"><img src="flags/belgium.png" alt=""></div>
            <div class = "item" style = "--position: 2"><img src="flags/blolivia.png" alt=""></div>
            <div class = "item" style = "--position: 3"><img src="flags/china.png" alt=""></div>
            <div class = "item" style = "--position: 4"><img src="flags/columbua.png" alt=""></div>
            <div class = "item" style = "--position: 5"><img src="flags/finland.png" alt=""></div>
            <div class = "item" style = "--position: 6"><img src="flags/indonisia.png" alt=""></div>
            <div class = "item" style = "--position: 7"><img src="flags/ireland.png" alt=""></div>
            <div class = "item" style = "--position: 8"><img src="flags/japan.png" alt=""></div>
            <div class = "item" style = "--position: 9"><img src="flags/monoco.png" alt=""></div>
            <div class = "item" style = "--position: 10"><img src="flags/france.png" alt=""></div>
            <div class = "item" style = "--position: 11"><img src="flags/jamacia.png" alt=""></div>
            <div class = "item" style = "--position: 12"><img src="flags/mexico.png" alt=""></div>
            <div class = "item" style = "--position: 13"><img src="flags/netherlands.png" alt=""></div>
        </div>

    </div> 


    <div class = "main-heading-container">
        <h1 class = "heading-frontpage">FOOD ROULETTE</h1>
        <p class = "text-frontpage">Lorem ipsum dolor sit amet consectetur adipisicing elit.Fugit delectus ab voluptatum quo accusamus.</p>
        <div>
            <button class="start-btn" onclick="spin()">SPIN</button>
        </div>
    </div>





    <div class="spinner-container">
        <div class="spinner-text" id="country-name">Click to Spin</div>
    </div>

    <script src="script.js"></script>

</body>
</html>